

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
  }
  
  .container {
    width: 75%;
    height: 700px;
    margin: 0 auto;
  }